<template>
  <div class="column">
      <h2>{{title}}</h2>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam est eros, porta non ultricies in, gravida eu eros.
      </p>
  </div>
</template>


<script>
export default {
  name: 'ColumnText',
  props: ['title'],
};
</script>

<style lang="scss" scoped>
.column {
  margin: 0.8rem;
  &:hover {
    cursor: pointer;
    hr {
      width: 5rem;
      transition-delay: 0.1s;
    }
  }
}
hr {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 10rem;
  transition: 0s width;
}
h2 {
  color: rgb(238, 238, 238);
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
}

p {
  color: #ccc;
}
</style>
