<template>
  <div id="about" class="about">
    <br>
    <section class="container has-text-centered" v-scroll-reveal.reset>
      <h2>About <em>us</em></h2>
      <LineSeparator />
      <div class="container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam est eros, porta non ultricies in, gravida eu eros.
        Duis enim lectus, accumsan quis tincidunt sit amet, vulputate in nibh.
        Vestibulum ante arcu, placerat quis consectetur in, sollicitudin vitae ligula.
        Mauris mattis eros in efficitur tempor. Praesent sed iaculis sem.
      </p>
      </div>
      <div class="columns">
        <ColumnText title="Title 1" />
        <ColumnText title="Title 2" />
        <ColumnText title="Title 3" />
        <ColumnText title="Title 4" />
        <ColumnText title="Title 5" />
      </div>
    </section>
  </div>
</template>

<script>
import ColumnText from '../shared/ColumnText';
import { LineSeparator } from '../shared/styledComponents';

export default {
  name: 'about',
  components: {
    LineSeparator,
    ColumnText,
  },
};
</script>

<style lang="scss" scoped>
.about {
  height: 90vh;
  margin-top: 20px;
  @media only screen and (max-width: 800px) {
    height: 80rem;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(238, 238, 238);
}

p {
  color: rgb(253, 253, 253);
  margin: 1rem;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;
}

em {
  font-weight: 700;
  font-style: initial;
  color: rgb(204, 57, 57);
}
</style>
