<template>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong> Copyright © All Rights Reserved </strong>
      - <a href="/"> Talbott Enterprises </a>
    </p>
  </div>
</footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="scss">
.footer {
  background-color: transparent !important;
  padding: 1rem;
  color: #fff;

  div > p > strong {
    color: #fafafa !important;
  }

  div > p > a {
    font-weight: 800;
    color: rgb(204, 57, 57) !important;
  }
}
</style>
