<template>
  <div id="home" class="homePage">
    <LoadingContainer>
      <orbit-spinner
        :animation-duration="1200"
        :size="100"
        v-show="!show"
        color="#fff" />
    </LoadingContainer>
    <div class="contentPage" v-show="show">
      <NavBar />
      <Welcome />
      <About />
      <Services />
      <Contact />
      <Footer />
    </div>
  </div>
</template>

<script>
import { OrbitSpinner } from 'epic-spinners';
import styled from 'vue-styled-components';
import NavBar from './NavBar';
import Welcome from './Welcome';
import About from './pages/About';
import Services from './pages/Services';
import Contact from './pages/Contact';
import Footer from './Footer';

const LoadingContainer = styled.div`
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
`;

export default {
  name: 'HomePage',
  data() {
    return {
      show: false,
    };
  },
  components: {
    NavBar,
    Welcome,
    About,
    Services,
    Contact,
    LoadingContainer,
    OrbitSpinner,
    Footer,
  },
  mounted() {
    setTimeout(() => {
      this.show = true;
    }, 1200);
  },
};
</script>
