<template>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" :style="style">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="../assets/small_logo.png" width="50"/>
      </a>

    <div class="navbar-burger burger" @click="toggleMenu"
       :class="{'is-active': active}" data-target="mainNav">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </div>

    <div id="mainNav" class="navbar-menu" :class="{'is-active': active}">
      <div class="navbar-end">
        <div :key="item.title" v-for="item in items" class="navbar-item">
          <div class="field is-grouped">
            <NavBarItem class="control" :href="item.href"
                        @click="toggleMenu"
                        v-smooth-scroll="{ duration: 1000, offset: -50 }">
              {{item.title}}
            </NavBarItem>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
import styled from 'vue-styled-components';

const NavBarTitle = styled.h2`
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  &:hover {
    color: #ccc;
  }
`;

const NavBarItem = styled.a`
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  &:hover {
    color: #ccc;
  }
  @media screen and (max-width: 1023px) {
    margin-left: 0rem;
  }
`;

export default {
  name: 'navbar',
  data() {
    return {
      title: 'Talbott Enterprises',
      active: false,
      items: [
        {
          title: 'HOME',
          href: '#home',
        },
        {
          title: 'ABOUT',
          href: '#about',
        },
        {
          title: 'SERVICES',
          href: '#services',
        },
        {
          title: 'CONTACT',
          href: '#contact',
        },
      ],
      style: {
        backgroundColor: 'transparent',
        transition: 'background 0.4s linear',
      },
    };
  },
  methods: {
    toggleMenu() {
      this.active = !this.active;
    },
    changeBgColor(bgColor) {
      this.style.backgroundColor = bgColor;
    },
    handleScroll() {
      const scrollTop = document.body.scrollTop;
      if (scrollTop === 0) {
        this.changeBgColor('transparent');
      } else {
        this.changeBgColor('rgba(26, 26, 26, 0.98)');
      }
    },
  },
  components: {
    NavBarTitle,
    NavBarItem,
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style scoped lang="scss">

.navbar-menu {
  @media screen and (max-width: 1023px) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.navbar-item {
  background-color: transparent !important;
}

.navbar-end {
  @media screen and (min-width: 1023px) {
    padding: 1rem;
  }
}

.navbar-burger {
  margin-right: 1rem;
  color: #fff;
  span{
    height: 0.1rem;
  }
}
</style>
