<template>
  <div>
  <section class="hero is-bold has-text-centered">
      <div class="hero-body black-overlay">
        <div class="container">
          <h1 class="title is-1 is-uppercase">Talbott <em>Enterprises</em></h1>
          <p class="is-size-3"><vue-typer :text="descriptionMsgs" /></p>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { VueTyper } from 'vue-typer';

export default {
  name: 'welcome',
  data() {
    return {
      descriptionMsgs: ['Some description goes here...', 'Another message is written here...'],
    };
  },
  components: {
    VueTyper,
  },
};
</script>

<style lang="scss" scoped>
.hero {
  margin-top: 4rem;
  padding-bottom: 1.5em;
  font-family: 'Poppins';
  font-weight: 600;
}

.hero-body.black-overlay {
  background: url(https://i.pinimg.com/originals/41/3f/32/413f32cbf54fe6bacb3a70d090203c78.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -4rem;
}

.black-overlay:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(26, 26, 26, 0.9);
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.color-gradient > *,
.black-overlay > * {
  position: relative;
  z-index: 2;
}

.title.is-1.is-uppercase {
  font-size: 90px;
  @media screen and (max-width: 1023px) {
    font-size: 2rem;
  }
}

h1 {
  color: #fff;
  line-height: 1.7;
}

p {
  color: #ccc;
}

em {
  font-weight: 700;
  font-style: initial;
  color: rgb(204, 57, 57);
}
</style>

